# Terraform
.cred
.cred.md
*.tfstate
*.tfstate.*
*.auto.tfvars
.terraform/
.terraform.lock.hcl
tfplan
docs/23.1-alloy.md
infra/env/core/phase1-core/.readme.md
k8s/alloy.sh

docs/14-deploy_secret.md

step-by-step_backup.md

step-by-step.md 
services/ingestor/.env

# IDE / cache
.vscode/
.idea/
__pycache__/
